  <h1>Edit Kid</h1> 

  <form action="/kids/edit" method="POST">
  
  <input type="hidden" name="id" value="<%= @kid.id %>">

  <br></br>

    <label>Child's Name:</label>

      <br></br>

    <input id="name" type="text" name="name">

      <br></br>


  <label>Pick a Parent</label>

  <select name="parent">
  <%@parents = Parent.all%>
  <%@parents.each do |parent|%>
  <option value="<%= parent.name %>"><%=parent.name%></option>
  <%end%>
</select>

    <input id="Create" type="submit" value="Edit Kid">
</form>