 <h1>Make A Playdate!</h1> 

  <form action="/playdates/new" method="POST">
    <label>Where are we playing?</label>


    <input id="location" type="text" name="location">

      <br></br>

<label>Who's coming?</label>
<% if Kid.all.count > 1 %>
  <%Kid.all.each do |kid|%>
    <input id="kids" type="checkbox" name="kids[]" value="<%=kid.name%>"><%=kid.name%></input><br>
    <%end%>
<%else%>
    <p>There are no other kids to play with :( </p>
<%end%>

<input id="Create" type="submit" value="Let's Play!">
</form>