  <h1>New Parent</h1> 

  <form action="/parents/new" method="POST">
    <label>Parent's Name:</label>

      <br></br>

    <input id="parent name" type="text" name="parent">

      <br></br>

      <p>Select One:</p>
    
    <input type="radio" name="gender" value="mom" checked> Mom
    <br>
    <input type="radio" name="gender" value="dad"> Dad

    <br></br>

    <input id="Create" type="submit" value="Create">
</form>