<h1>Playdates List</h1>


<ul>
<% @playdates.each do |playdate| %>
  <% if playdate.kids.count != 0 %> 
<li><a href=<%="/playdates/#{playdate.id}"%>><%= playdate.location %></a></li>
  <% end %>
<% end %>
</ul>